<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vbtournamentreporter.Properties.Settings.data" connectionString="Data Source=../resources/data.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
