<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vbtournamentreporter.Properties.Settings.data" connectionString="Data Source=Z:\Downloads\builds\build-cfrVBTO-Desktop_Qt_5_4_2_MinGW_32bit-Debug\resources\data.sqlite" providerName="Devart.Data.SQLite"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
